

body{
    background-color: aquamarine;
}

.parrafo{
    color: brown;
    font-size: 50px;    
}

.parrafodos{
    color: rgb(68, 0, 255);
    font-size: 50px;
}

.parrafotres{
    color: rgb(65, 126, 4);
    font-size: 50px;
}